/*body*/
body{
  background-color: #181818;
}
/*navbar*/
#home{
  background-color: #181818;
}
.navbar{
  background-color: #ffc107;
}
#navicon2{
  width: 120px;
}
.login_right{
  width: 150px;
}

/*Footer*/
#about{
  background-color:#292929;
  height:5%;
  text-align:right;
}
