/*body*/
body {
  background-color: #041922;
  /*paletas: #FF143D*/
}

/*navbar*/
#home {
  background-color: #181818;
}
.navbar {
  background-color: #ffc107;
  padding-left: 150px;
}
#navicon2 {
  width: 120px;
}

/*Timer container*/
.timer-cont {
  padding: 5%;
}

/*Footer*/
#about {
  background-color: #020e13;
  height: 5%;
  float: right;
}
