/* Main heading */
.heading {
  color: #bae8e8;
}

/* Countdown timer */
.timer {
  color: #ffffff;
  text-align: center;
  width: 15rem;
  height: 17rem;
  border: 5px solid #b6b6b6;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timer-cont {
  padding: 0px;
}
.row {
  width: 100%;
  font-size: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}

/* remove the padding on the play button */
.btn {
  padding: 0;
}

/* play and reset icons */
.fa-play,
.fa-redo-alt {
  color: #ffffff;
  border: 2px solid transparent;
  padding: 1rem;
  border-radius: 2rem;
}

.fa-play:hover,
.fa-redo-alt:hover {
  color: #ffffff;
  border: 3px solid #ffc107;
  transition: 0.3s ease;
}

/* Dynamic class */
/* Make the message visible */
.show_message {
  display: block;
  padding: 1rem 0;
  color: #08b857;
  background: #e3f6f5;
  border-radius: 0.5rem;
  transition: 0.5s ease;
}

#sessions {
  width: 100%;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}

.pomodoro,
.flowState {
  color: white;
  border: none;
  margin: 0;
  margin-left: 5px;
  padding: 2px 12px;
  background: none rgba(0, 0, 0, 0.15);
  opacity: 1;
}

.pomodoro,
.flowState {
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
